<h4>All your recommendations are below</h4>
<%= link_to "Add another recommendation", recommendations_new_path %>

<table>
  <thead>
    <tr>
      <th>Category</th>
      <th>Link</th>
      <th>Description</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
      <% @recs.each do |rec| %>
      <tr>
        <td><%= rec.rec_type %></td>
        <td><%= rec.link %></td>
        <td> <%= rec.rec_description %> </td.>
        </tr>
<% end %>

  </tbody>
</table>
<%= will_paginate @recs %>


