<!DOCTYPE html>
<html>
<head>

<title>  8sw</title>
<%= favicon_link_tag '/favicon.ico' %> 
<%= stylesheet_link_tag "application", media: "all",
    "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= controller.controller_name %>">
<div id="banner">
<%= image_tag("8sw.png", :size => "40x40") %>
<%= @page_title || "Eight Spoked Wheel" %>
</div>
<div id="columns">
<div id="side"> <ul>
<li><a href=/>Home</a></li>
<li> <%=link_to "Log-in", login_path %> </li> 
<li> <%=link_to "Register", new_user_path %> </li> 
<li> <%=link_to "Questions", questions_path %> </li> 
<li> <%=link_to "Contact", contact_path %> </li>
<li> <%= link_to 'Recommendations', things_path %> </li> 
<% if session[:user_id] %> 
<%= button_to 'Logout', logout_path, method: :delete %> 
<% end %>
</ul>



<ul>








</ul> </div>
<div id="main"> 
<%= yield %>
    </div>
  </div>
</body>
</html>

<!--  REMARKS
# this link below incorrectly links to the public folder
# want it to link to static/contact
# <li><a href=contact_url">Contact</a></li> # 
Thus we rely on ruby's link_to tool instead
-- >

<!-- #use rake routes to find path to name in this 
ruby link tool# -->